<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Battle Games in Middle Earth Issue Encyclopaedia</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <h1>Battle Games in Middle Earth Issue Encyclopaedia</h1>
  <p>Welcome to the BGiME Issue Encyclopaedia. Brought to you by Jonathan Witts.</p>
  <p>The BGiME is your Encyclopaedia to all the issues in the series. Including the models with each issue, the scenery made, the scenarios, rules, and even the pages they all appear on!</p>
  <p>Check out the <a href="/issues">issue list</a> or <a href="/model">search for a model</a>.</p>
  <p>The <a href="./readme.md">development roadmap</a> outlines upcoming features.</p>
  {{!-- <form method="POST" action="/add-issue">
    <label for="issueNumber">Issue Number:</label>
    <input type="number" name="issueNumber" id="issueNumber" />
    <label for="modelName">Model:</label>
    <input type="text" name="modelName" id="modelName" />
    <label for="modelCount">Model count:</label>
    <input type="number" name="modelCount" id="modelCount" />
    <button type="submit">Submit</button>
  </form> --}}
</body>

</html>